#  Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python  
2. R  
3. SQL  
4. Java  
5. Julia  
6. SAS  
7. MATLAB

Some of the commonly used libraries used by Data Scientists include:

1. Pandas  
2. NumPy  
3. Matplotlib  
4. Seaborn  
5. Scikit-learn  
6. TensorFlow  
7. Keras  
8. SciPy  
9. Statsmodels  
10. PyTorch


| Data Science Tools        |
|---------------------------|
| Jupyter Notebook          |
| Spyder                    |
| RStudio                   |

### Below are a few examples of evaluating arithmetic expressions in Python


1. **Addition**:  
   `3 + 5 = 8`

2. **Subtraction**:  
   `10 - 4 = 6`

3. **Multiplication**:  
   `7 * 6 = 42`

4. **Division**:  
   `20 / 4 = 5`

5. **Exponentiation**:  
   `2^3 = 8`

6. **Modulus** (remainder of division):  
   `10 % 3 = 1`

## Multiplying and adding numbers

In [1]:
(3*4)+5

17

## Convert minutes to hours

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**

- List popular languages for Data Science.  
- Identify commonly used Data Science libraries.  
- Create and format tables in markdown.  
- Perform basic arithmetic operations in code cells.  
- Understand and use tools commonly employed in Data Science workflows.

## Author

Ousmane OUEDRAOGO